<section class="m-4">
  <div>
  <% if can? :create, @foods.first %>
   <%= button_to "Add Food", new_food_path, method: :get, class:"btn btn-primary float-end m-2" %>
   <% end %>
  </div>
  <% if @foods.exists? %>
  <table class="table border">
    <thead>
      <tr>
       <th>Food</th>
       <th>Quantity</th>
       <th>Measurement unit</th>
       <th>Unit price</th>
       <th>Action</th>
      </tr>
    </thead>
    
      <% @foods.each do |food| %>
      <tbody>
        <td><%= link_to food.name ,food_path(food.id) %></td>
          <td><%= food.quantity %></td>
          <td><%= food.measurement_unit %></td>
          <td>$<%= food.price %></td>
          <% if can? :destroy, food %>
            <td><%= button_to "Delete", food_path(food.id), method: :delete, class:"btn btn-danger" %></td>
          <% end %>
             </tbody>
      <% end %>
 
  </table>
   <% else %>
          <p>No Food Added yet</p> 
   <% end %>
</section>